Django==6.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2
drf-spectacular==0.29.0
drf-yasg==1.21.15
celery==5.6.2
redis==7.2.1
django-redis==6.0.0
mysqlclient==2.2.8
Pillow==12.1.1
python-decouple==3.8
django-extensions==4.1
whitenoise==6.12.0
python-dateutil==2.9.0.post0
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
